.leftside, .rightside{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    

    
    
   
}
@media screen and (min-width:768px) {
    .leftside , .rightside{
        height: 100vh;
        width: 100%;
    }
    
}

.leftside{
    background: white;
    


}
.leftside:hover{
    background :black;
    transition: 0.5s;
}
.rightside:hover{
    background: black;
    transition: 0.5s;

}
.rightside{
    background:white;
}
.title{
    font-size: medium;
    font-weight: bold;
    font-family: "Poppins","sans-serif";
    
}
.title:hover{
    color: aqua;
    transition: 0.5s;

}
